/* table styling for firm list */
table {
   width: 900px;
   border: 1px solid #ddd;
   border-collapse: collapse;
   margin: 10px 0 20px 15px;
   padding: 0;
}
th, td {
   vertical-align: bottom;
   border: 1px solid #ddd;
   padding: 0;
   margin: 0;
}
th {
   text-align: center;
   padding: 10px;
   background: #fafafa;
}
td.desno {
   text-align: right;
   padding: 10px;
   width: 130px;
}
td:last-child a {
   text-align: center;
}
tr.sati-ukupno td {
   font-weight: bold;
   text-align: right;
   padding: 10px;
}

table a {
   display: block;
   color: black;
   padding: 10px;
   text-decoration: none;
   text-align: left;
}
table a:hover {
   background: #eee;
}
table td:first-child a {
   text-align: left;
}
form {
   /* display: none; */
   border: 1px solid #ccc;
   border-radius: 7px;
   margin: 20px 50px 20px 30px;
   padding: 20px;
}
/*
pre {
   font: monospace;
   font-size: 14px;
   padding: 0;
   margin: 0;
}
*/
span.sati {
   display: inline-block;
   margin: 0;
   padding: 0;
   width: 30px;
   text-align: left;
}
span.min {
   display: inline-block;
   margin: 0;
   padding: 0;
   width: 30px;
   text-align: right;
}

@media print {
   th.non_print, td.non_print {
      display: none;
   }
   form {
      display: none;
   }
}
